:root {
	--color-title: #43281c;
	--color-title1: #fff;
	--color-subtitle: #a62940;
	--color-bg: #fbf2c0;
	--color-footer: #bf8069;

	--color-preto: #262626;
	--color-branco: #fff;
	--color-marron: #43281c;
	--color-grena: #a62940;
	--color-creme: #fbf2c0;
	--color-maltesse: #bf8069;
	--color-roxo: #400135;
	--color-preto2: #261f1d;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* Hero Rights */
.heroRights__container {
	background: var(--color-preto);
}
.heroRights__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	min-height: 500px;
}

.heroRights__content-img {
	height: 400px;
	/* width: 280px; */
}

.heroRights__body {
	color: var(--color-bg);
	max-width: 65%;
	padding: 1rem;
}

/* AboutContent */
.aboutContent__container {
	background: var(--color-bg);
	padding: 2rem 0;
}

.aboutSolucao {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	padding: 1rem 0;
}
.aboutSolucao__body {
	max-width: 500px;
}
.aboutSolucao__img {
	max-width: 300px;
}
.aboutProcesso {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	padding: 1rem 0;
}
/* About Processo */
.aboutProcesso__img {
	width: 400px;
}
/* Equipe card */
.equipe__container {
	background: var(--color-creme);
	padding: 1rem 0;
	height: 100%;
	background: var(--color-maltesse);
}
.equipe__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0;
}

.equipe__card {
	padding: 1rem;

	width: 360px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 1rem;
	gap: 1rem;
	align-items: center;
}
.equipe__card img {
	clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.equipe__card-title {
	margin: 0;
	font-size: 1.5rem;
}
.equipe__card-txt {
	margin: 0;
	font-size: 1rem;
}
.equipe__card-links {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
.equipe__card-social {
	font-size: 2rem;
	color: var(--color-preto);
}
.equipe__card-social:hover {
	color: var(--color-bg);
}

@media (max-width: 1000px) {
	.heroRights__body {
		max-width: 400px;
	}
	.aboutProcesso {
		flex-wrap: wrap-reverse;
	}
}
@media (max-width: 768px) {
	.heroRights__body {
		max-width: 100%;
	}
}
