:root {
	--color-title: #43281c;
	--color-title1: #fff;
	--color-subtitle: #a62940;
	--color-bg: #fbf2c0;
	--color-footer: #bf8069;

	--color-preto: #262626;
	--color-branco: #fff;
	--color-marron: #43281c;
	--color-grena: #a62940;
	--color-creme: #fbf2c0;
	--color-maltesse: #bf8069;
	--color-roxo: #400135;
	--color-preto2: #261f1d;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main {
	/* height: 100vh; */
	background-color: var(--color-preto);
	/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23bf8069' fill-opacity='0.42'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E"); */
}
/* Carousel Hero */
/*  */
/* Carousel base class */
/* .carousel {
	margin-bottom: 4rem;
} */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 32rem;
}

.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

/* Hero */
.carousel__img {
	object-fit: cover;
	object-position: center center;
	opacity: 0.5;
}

/* Consquitas */
.conquistas__container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fbf2c0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23bf8069' fill-opacity='0.42'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}
.conquistas__title {
	padding-top: 2rem;
	font-size: 2.5rem;
	text-align: center;
}
.conquistas__content {
	padding: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.conquistas__card {
	/* padding: 0.6rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 300px;
}

.conquistas__card-icon {
	font-size: 5rem;
}
.conquistas__card-number {
	font-size: 3rem;
}
.conquistas__card-title {
	font-size: 1.5rem;
}

/* Featurettes */
.features__container {
	background: var(--color-maltesse);
	padding: 2rem 0;
}
.features__content {
	display: grid;
	gap: 2rem;
	place-content: center;
	grid-template-columns: 1fr;
}

.features__article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.features__article-title {
	max-width: 40%;
	text-align: center;
}
.features__article-img {
	max-width: 550px;
}

/* Parceiros */

.parceiros__container {
	border: 3px solid var(--color-preto);
	background-color: #fbf2c0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23bf8069' fill-opacity='0.42'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
	padding: 1rem;
	display: flex;
}

.parceiros__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.parceiros__body {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.parceiros__img {
	max-width: 150px;
	max-height: 80px;
}
.card-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
@media (max-width: 992px) {
	.features__article-title {
		max-width: 90%;
	}
}
@media (max-width: 767px) {
	.carousel-item {
		height: 20rem;
	}
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}
	.features__article-img {
		width: 100%;
		min-width: 400px;
	}
}

@media (max-width: 576px) {
	.features__article-img {
		/* width: 100%; */
		min-width: 200px;
	}
}
/* Media Query */

/* @media (max-width: 400px) {
	.footer__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
} */
